<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p class="mb-0">Apart from being a developer, I enjoy most of my time doing things geared to art, <br>
            like playing the ukulele and guitar, singing, drawing and making oil clay sculptures.</p>
        <p class="mb-0">When outdors, I enjoy riding my bike and go on walks and hiking </p>
        <p class="mb-0">I also do coin collection</p>
    </div>
</section>
<hr class="m-0" />
