<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Certifications</h2>
        <ul class="fa-ul mb-0">
            <!-- <li>
                <span class="fa-li"><i class="fas fa-award"></i></span>
                OCA JAVA Programmer Certified
            </li> -->
             <li>
                <span class="fa-li"><i class="fas fa-award"></i></span>
                PCEP – Certified Entry-Level Python Programmer
            </li> 
            <li>
                <span class="fa-li"><i class="fas fa-award"></i></span>
                Team Kanban Practitioner
            </li>
             <!-- <li>
                <span class="fa-li"><i class="fas fa-award"></i></span>
                IELTS 
             </li> -->

        </ul>
    </div>
</section>
