<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Data Science and Big Data</h3>
                <div class="subheading mb-3">Post-graduation</div>
                <div>PUC - Pontifícia Universidade Católica de Minas Gerais </div>
                <p>Rio de Janeiro - Brazil</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2020 - 2021</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Digital Design</h3>
                <div class="subheading mb-3">Master of Fine Arts - MFA</div>
                <div>Instituto Infnet</div>
                <p>Rio de Janeiro - Brazil</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2017 - 2019</span></div>
        </div>
          
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Analysis, Design and Management of Information Systems</h3>
                <div class="subheading mb-3">Post-graduation</div>
                <div>Universidade Estácio de Sá</div>
                <p>Rio de Janeiro - Brazil</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2014 - 2016</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Computer Science</h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                <div>UCAM - Universidade Cândido Mendes</div>
                <p>Rio de Janeiro - Brazil</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2006 - 2011</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Informatics</h3>
                <div class="subheading mb-3"> Technical Course</div>
                <div>IFF - Instituto Federal Fluminense</div>
                <p>Campos dos Goytacazes - Brazil</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2005 - 2006</span></div>
        </div>

    </div>
</section>
<hr class="m-0" />
