<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Pontifícia Universidade Católica de Minas Gerais</h3>
                <div class="subheading mb-3">Post-graduation</div>
                <div> Data Science and Big Data </div>
                <p>Rio de Janeiro - Brazil</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2020 - 2021</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Instituto Infnet</h3>
                <div class="subheading mb-3">Master of Fine Arts - MFA</div>
                <div> Digital Design</div>
                <p>Rio de Janeiro - Brazil</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2017 - 2019</span></div>
        </div>
          
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Universidade Estácio de Sá</h3>
                <div class="subheading mb-3">Post-graduation</div>
                <div> Analysis Design and Management of Information Systems  </div>
                <p>Rio de Janeiro - Brazil</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2014 - 2016</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Universidade Cândido Mendes</h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                <div>Computer Science </div>
                <p>Rio de Janeiro - Brazil</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2006 - 2011</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">IFF - Instituto Federal Fluminense</h3>
                <div class="subheading mb-3">Technician</div>
                <div>Computer Science </div>
                <p>Campos dos Goytacazes - Brazil</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2005 - 2006</span></div>
        </div>

    </div>
</section>
<hr class="m-0" />
