<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Mid Java Web Developer</h3>
                <div class="subheading mb-3">BB DTVM S.A.</div>
                <p>Write and Design Software at Risk Management Department.<br>
                Back and Front-End development using Java, Spring, Angular, TypeScript, HTML/CSS and Gitlab.<br>
                RESTful API’s development.<br>
                Experience with DB2 Database and SQLServer</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2014 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Bank Cashier</h3>
                <div class="subheading mb-3">Banco do Brasil</div>
                <p>Receive and process all incoming payments, receipts, deposits, wire transfers and checks and solving all Cashier related issues and doubts from clients</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">December 2012 - September 2014</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Bank Clerk</h3>
                <div class="subheading mb-3">Banco do Brasil</div>
                <p>Provide banking services to customers, such as account opening and closing, information about debts, balance and checks.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2010 - December 2012</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Intern</h3>
                <div class="subheading mb-3">Banco do Brasil</div>
                <p></p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">February 2007 - January 2009</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
